html {
    overflow-x: hidden;
}

body {
    font-family: 'HeliosC', sans-serif !important;
    background: white no-repeat;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h4 {
    color: #333333;
}

header {
    background: url("../img/bg.png") no-repeat;
    background-size: 100vw 100vh;
}

.header-logo {
    display: block;
    margin: auto;
    text-align: center;
    height: 91vh;
    width: 40vw;
}


@media screen and (max-width: 576px) {
    .header-logo {
        width: 80vh;
        height: 100vh;
    }
}

@media screen and (max-width: 440px) {
    .header-logo {
        width: 60vh;
        height: 80vh;
    }

    header {
        height: 100vh;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        display: none;
    }
}

.nav-item > a {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

@media screen and (min-width: 850px) {
    .nav-item > a {
        font-size: 3vh;
    }
}

@media screen and (max-width: 849px) {
    .nav-item > a {
        font-size: 15px;
    }
}

@media screen and (max-width: 677px) {
    .nav-item > a {
        font-size: 10px;
    }
}

.nav-separator {
    margin-right: 20px;
}

.button-up {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 999;
}

.button-up > a > img {
    width: 50px;
    height: 50px;
}

.heading {
    text-align: center;
    font-size: 70px;
    background: linear-gradient(#990066, #660099);
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading-direct {
    color: rgb(118, 35, 167);
    font-size: 80px;
}

p {
    color: #333333;
    font-size: 30px;
}

.text {
    text-align: center;
}

.text-dir {
    text-align: start;
}

@media screen and (max-width: 500px) {
    p {
        font-size: 7vw;
    }

    .heading {
        font-size: 10vw;
    }
    .text-dir {
        font-size: 6vw;
    }
    .text {
        font-size: 6vw;
    }
    .heading-direct {
        font-size: 10vw;
    }
    h3 {
        font-size: 6vw;
    }
}

hr {
    border: none;
    background-color: #CCCCCC;
    height: 1px;
    color: #CCCCCC;
    margin: 80px 0;
}

.form-button {
    padding: 0.5rem 0.5rem;
    text-align: center;
    color: white;
    background: url("../img/button.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;

}

.form-button:hover {
    color: white;
}

.form-button:active {
    background: url("../img/button.png") no-repeat;
    background-size: 100% 100%;
    color: white;
    background: #CC0099;
}

.regaw {
    display: block;
    margin: auto;
    text-align: center;
}

.menu {
    border: 1px solid #990066;
    background: url("../img/sbar.png") no-repeat;
    background-size: 20vw 100vh;
    position: fixed;
    left: 0;
    z-index: 99;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    transform: translateX(1100%);
}

.menu_active {
    transition: 0.2s;
    transform: translateX(400%);
}

@media screen and (max-width: 662px) {
    .menu_active {
        transition: 0.2s;
        width: 40%;
        transform: translateX(150%);
    }
}

@media screen and (max-width: 575px) {
    .menu{
        display: none;
    }

    .menu_active {
        display: flex;
    }
}

.menu-img {
    height: 25px;
    width: 40px;
}

.menu-btn {
    cursor: pointer;
    z-index: 999;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5%;
    top: 5%;
}

.menu-btn2 {
    cursor: pointer;
    z-index: 999;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5%;
    top: 5%;
}

.menu-right {
    color: white;
    font-weight: 600;
    padding: 0 5px 0 5px;
    margin: 5px;
    width: 100%;
    text-align: center;
}

.menu-list {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.menu-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

footer {
    padding: 24px 0 26px 10px;
    background: url("../img/footer.png") no-repeat;
    background-size: 100% auto;
}

.footer--logo--img {
    height: 107px;
    width: 104px;
}

@media screen and (max-width: 575px) {
    footer {
        display: block;
        margin: auto;
        text-align: center;
        background-size: 100% 100%;
    }

    .footer--logo {
        display: block;
        margin: auto;
        text-align: center;
    }
}

.f-text {
    padding: 0;
    margin: 20px 15px 0 5px;
    font-size: 2.5vh;
    color: white;
}

.links {
    height: 395px;
    width: 395px;
}

@media screen and (max-width: 991px) {
    .links {
        display: block !important;
        margin: auto !important;
        text-align: center !important;
        height: 80%;
        width: 80%;
    }

    .text-dir {
        text-align: center;
    }

    .heading-direct {
        text-align: center;
    }
}


.footer-icon {
    position: absolute;
    right: 150px;
    padding-top: 25px;
    padding-left: 35%;
}

@media screen and (max-width: 1072px) {
    .footer-icon {
        right: 100px;
    }
}

@media screen and (max-width: 940px) {
    .footer-icon {
        right: 90px;
    }
}

@media screen and (max-width: 644px) {
    .footer-icon {
        position: static;
        padding-left: 0;
    }
}


@media screen and (max-width: 574px) {
    .footer-icon {
        display: block !important;
        margin: auto !important;
        text-align: center !important;
    }
}

.margin {
    margin-top: 200px;
}

.bg-dark {
    background: rgba(0, 0, 0, 0.7) !important;
}

.nav-link {
    color: white !important;
}

.icon-f {
    height:40px;
    width: 40px;
    margin:10px;
}

.icon-vk {
    height:60px;
    width: 60px;
    margin:10px;
}


@media screen and (min-width: 577px) {
    .mov-left {
        opacity: 0;
    }

    .mov-right {
        opacity: 0;
    }

    .mov-up {
        opacity: 0;
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
}

li   {
    height:40px;
}

.nav-link:hover {
    border-bottom: 3px solid coral;
}
